bitrix/cache/
bitrix/managed_cache/
bitrix/stack_cache/
bitrix/modules/
bitrix/wizards/bitrix/
bitrix/backup/
bitrix/components/bitrix/
bitrix/activities/bitrix/
bitrix/admin/
bitrix/gadgets/bitrix/
bitrix/controller_log/
bitrix/image_uploader/
bitrix/images/
bitrix/js/
bitrix/otp/
bitrix/sounds/
bitrix/template/
bitrix/themes/
bitrix/tmp/
bitrix/tools/
bitrix/[^/]*\.php$
upload/
bitrix/php_interface/
