#login-form-window
{
	display:none;
	border:1px solid #bfbfbf;
	background:#DEDEE2;
	padding:10px;
	z-index:10000;
	position:absolute;
	top:10%;
	left:45%;
	width:200px;
	color: #454545;
}

#login-info
{
	color:#3b3b3b;
	font-size:70%;
	font-weight:bold;
}

#login-info a { color:#666666; }
